@import url('https://fonts.googleapis.com/css?family=Oleo+Script:700');
@import url('https://fonts.googleapis.com/css?family=Overlock:700i');
* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

#container {
	width: 90vw;
	margin: 0 auto;
}

ul {
	background-color: #8197db;
	width: 100%;
	height: 60px;
	opacity: .6;
}

ul li {
	float: left;
	padding-left: 60px;
	list-style-type: none;
	line-height: 60px;
	font-family: 'Oleo Script', cursive;
	font-size: 27px;
}
ul li a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: white;
	font-weight: bold;
}

h1 {
	font-family: 'Oleo Script', cursive;
		text-align: center;
		border: none;
		width: 400px;
		padding: 30px;
		margin: 22px auto;
		
}


p {
	font-size: 31px;
	text-align: center;
	padding-top: 25px;
	padding-left: 190px;
	padding-right: 230px;
}

div {
	width: 100%;
	height: 1150px;
	text-align: center;
	margin: 0 auto;
}

div img {
	width: 400px;
}
#remix{
	width: 50%;
	text-align: center;
}
#glitch{
	margin: 0 auto;
	text-align: center;
	height: 900px;
}
#youtube{
	margin: 0 auto;
	text-align: center;
}
#quote{
	font-family: 'Overlock', cursive;
	font-size: 36px;
	color: #3b7c82;
}
#portrait{
	margin: 0 auto;
	text-align: center;
}
#ball{
margin: 0 auto;
padding-top: 30px;
text-align: center;
}